/**
  Extensions Browser (FE Mentor Challenge)
  An attempt at the Extension Manager challenge in Frontend Mentor
  https://www.frontendmentor.io/challenges/extension-manager-landing-page-2V8rQy0o

  Jamie-Lee McLeish
*/

:root {
  --var-spacing-0: 0px;
  --var-spacing-025: 2px;
  --var-spacing-050: 4px;
  --var-spacing-075: 6px;
  --var-spacing-100: 8px;
  --var-spacing-125: 10px;
  --var-spacing-150: 12px;
  --var-spacing-200: 16px;
  --var-spacing-250: 20px;
  --var-spacing-300: 24px;
  --var-spacing-400: 32px; 
  --var-spacing-500: 40px;
  --var-spacing-600: 48px;
  --var-spacing-800: 64px;
  --var-spacing-1000: 80px;

  --var-color-neutral-900: hsl(227, 75%, 14%);
  --var-color-neutral-800: hsl(226, 25%, 17%);
  --var-color-neutral-700: hsl(225, 23%, 24%);
  --var-color-neutral-600: hsl(226, 11%, 37%);
  --var-color-neutral-300: hsl(0, 0%, 78%);
  --var-color-neutral-200: hsl(217, 61%, 90%);
  --var-color-neutral-100: hsl(0, 0%, 93%);
  --var-color-neutral-0: hsl(200, 60%, 99%);

  --var-color-primary-400: hsl(3, 86%, 64%);
  --var-color-primary-500: hsl(3, 71%, 56%);
  --var-color-primary-700: hsl(3, 77%, 44%);

  --var-light-gradient: linear-gradient(180deg, #EBF2FC 0%, #EEFBF9 100%);
  --var-dark-gradient: linear-gradient(180deg, #04091B 0%, #091540 100%);

  --var-font-family-sans: 'Noto Sans', sans-serif;
  --var-font-size-xl: 2.125rem; /* 34px */
  --var-font-size-lg: 1.25rem; /* 20px */
  --var-font-size-md: 1rem; /* 16px */

  --var-line-height-xl: 140%;
  --var-line-height-lg: 120%;
  --var-line-height-md: 100%;

  --var-radius-0: 0px;
  --var-radius-4: 4px;
  --var-radius-6: 6px;
  --var-radius-8: 8px;
  --var-radius-10: 10px;
  --var-radius-12: 12px;
  --var-radius-16: 16px;
  --var-radius-20: 20px;
  --var-radius-24: 24px;
  --var-radius-full: 9999px;
}

html {
  font-family: var(--var-font-family-sans);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: var(--var-light-gradient);
}

.wrapper {
  max-width: 960px;
  margin: var(--var-spacing-800) auto;
}

.title {
  background-color: var(--var-color-neutral-0);
  border: 1px solid var(--var-color-neutral-200);
  border-radius: var(--var-radius-full);
  box-shadow: 0px 2px 4px rgb(0 0 0 / 0.2);
  padding: var(--var-spacing-150) var(--var-spacing-200);
}

.title__logo-wrapper {
  align-items: end;
  display: inline-block;
}

.title__logo {
  display: inline-block;
  vertical-align: middle;
}